---
alertmanager_version: "0.27.0"
alertmanager_binary_local_dir: ""
alertmanager_binary_url:
  "https://github.com/{{ _alertmanager_repo }}/releases/download/v{{ alertmanager_version }}/\
  alertmanager-{{ alertmanager_version }}.linux-{{ go_arch }}.tar.gz"
alertmanager_checksums_url: "https://github.com/{{ _alertmanager_repo }}/releases/download/v{{ alertmanager_version }}/sha256sums.txt"

alertmanager_system_group: "prometheus"
alertmanager_system_user: "alertmanager"

alertmanager_config_dir: /etc/alertmanager
alertmanager_db_dir: /var/lib/alertmanager

alertmanager_config_file: "alertmanager.yml.j2"

alertmanager_template_files:
  - templates/*.tmpl

alertmanager_web_port: "9093"
alertmanager_web_listen_address: "127.0.0.1:{{ alertmanager_web_port }}"
alertmanager_web_external_path: "/"
alertmanager_web_external_url: "http://{{ alertmanager_web_listen_address }}{{ alertmanager_web_external_path }}"

alertmanager_http_config: {}

alertmanager_resolve_timeout: 3m

alertmanager_config_flags_extra: {}
# alertmanager_config_flags_extra:
#   data.retention: 10

# SMTP default params
alertmanager_smtp: {}
# alertmanager_smtp:
#   from: ''
#   smarthost: ''
#   auth_username: ''
#   auth_password: ''
#   auth_secret: ''
#   auth_identity: ''
#   require_tls: "True"

# Default values you can see here -> https://prometheus.io/docs/alerting/configuration/
alertmanager_slack_api_url: ""
alertmanager_pagerduty_url: ""
alertmanager_opsgenie_api_key: ""
alertmanager_opsgenie_api_url: ""
alertmanager_victorops_api_key: ""
alertmanager_victorops_api_url: ""
alertmanager_hipchat_api_url: ""
alertmanager_hipchat_auth_token: ""
alertmanager_wechat_url: ""
alertmanager_wechat_secret: ""
alertmanager_wechat_corp_id: ""

# First read: https://github.com/prometheus/alertmanager#high-availability
alertmanager_cluster:
  listen-address: ""
# alertmanager_cluster:
#   listen-address: "{{ ansible_default_ipv4.address }}:6783"
#   peers:
#     - "{{ ansible_default_ipv4.address }}:6783"
#     - "alertmanager.demo.do.prometheus.io:6783"

alertmanager_receivers:
  - name: blackhole
  - name: telegram_default
    telegram_configs:
      - send_resolved: true
        http_config:
          follow_redirects: true
        bot_token: "{{ vault_alertmanager_telegram_bot_token }}"
        chat_id: "{{ vault_alertmanager_telegram_chat_id }}"
        message: '{% raw %}{{ template "telegram.default" .}}{% endraw %}'
        parse_mode: HTML
  - name: telegram_home
    telegram_configs:
      - send_resolved: true
        http_config:
          follow_redirects: true
        bot_token: "{{ vault_alertmanager_telegram_bot_token }}"
        chat_id: "{{ vault_alertmanager_telegram_home_chat_id }}"
        message: '{% raw %}{{ template "telegram_home.default" .}}{% endraw %}'
        parse_mode: HTML

alertmanager_time_intervals: []
# alertmanager_time_intervals:
#   - name: offhours
#      time_intervals:
#        - times:
#            - start_time: "21:00"
#              end_time: "24:00"
#          location: "Africa/Johannesburg"
alertmanager_inhibit_rules: []
# alertmanager_inhibit_rules:
#   - target_match:
#       label: value
#     source_match:
#       label: value
#     equal: ['dc', 'rack']
#   - target_match_re:
#       label: value1|value2
#     source_match_re:
#       label: value3|value5

alertmanager_route:
  receiver: blackhole
  group_by:
    - job
    - alertname
  group_interval: 15s
  group_wait: 15s
  repeat_interval: 24h
  routes:
    - receiver: telegram_home
      match:
        env: telegram_home
      group_by:
        - job
        - alertname
      group_interval: 15s
      group_wait: 15s
      repeat_interval: 24h
    - receiver: telegram_default
      match:
        env: prod
        severity: error
      group_by:
        - job
        - alertname
      group_interval: 15s
      group_wait: 15s
      repeat_interval: 24h

# The template for amtool's configuration
alertmanager_amtool_config_file: "amtool.yml.j2"

# Location (URL) of the alertmanager
alertmanager_amtool_config_alertmanager_url: "{{ alertmanager_web_external_url }}"

# Extended output of `amtool` commands, use '' for less verbosity
alertmanager_amtool_config_output: "extended"

alertmanager_binary_install_dir: "/usr/local/bin"

# Local path to stash the archive and its extraction
alertmanager_archive_path: "/tmp"

alertmanager_local_cache_path: "/tmp/alertmanager-{{ ansible_system | lower }}-{{ _alertmanager_go_ansible_arch }}/{{ alertmanager_version }}"
