---
# port/process derived from nginx_exporter's service template and defaults - extend as needed
{% if nginx_exporter_role_enabled | default(true) %}
service:
  nginx_exporter.service:
    enabled: true
    running: true
process:
  nginx-prometheu:
    running: true
command:
  nginx-prometheus-exporter --version:
    exit-status: 0
port:
  tcp6:9113:
    listening: true
{% endif %}
