---
prometheus_version: "latest"
prometheus_binary_local_dir: ""
prometheus_binary_url:
  "https://github.com/{{ _prometheus_repo }}/releases/download/v{{ prometheus_version }}/\
  prometheus-{{ prometheus_version }}.linux-{{ go_arch }}.tar.gz"
prometheus_checksums_url: "https://github.com/{{ _prometheus_repo }}/releases/download/v{{ prometheus_version }}/sha256sums.txt"
prometheus_skip_install: false

prometheus_config_dir: /etc/prometheus
prometheus_db_dir: /var/lib/prometheus
prometheus_read_only_dirs: []

prometheus_web_port: 9090
prometheus_web_listen_address: "127.0.0.1:{{ prometheus_web_port }}"
prometheus_web_external_url: "/prometheus"
prometheus_metrics_path: "/{{ (prometheus_web_external_url + '/metrics') | regex_replace('^(.*://)?(.*?)/') }}"
# See https://github.com/prometheus/exporter-toolkit/blob/master/docs/web-configuration.md
prometheus_web_config:
  tls_server_config: {}
  http_server_config: {}
  basic_auth_users: {}

prometheus_storage_retention: "90d"
# Available since Prometheus 2.7.0
# [EXPERIMENTAL] Maximum number of bytes that can be stored for blocks. Units
# supported: KB, MB, GB, TB, PB.
prometheus_storage_retention_size: "0"

# The Agent mode optimizes Prometheus for the remote write use case: https://prometheus.io/blog/2021/11/16/agent/
prometheus_agent_mode: false

prometheus_config_flags_extra:
  log.level: warn

prometheus_alertmanager_config:
  - scheme: http
    static_configs:
      - targets:
          - "{{ alertmanager_web_listen_address | default('127.0.0.1:9093', true) }}"

prometheus_alert_relabel_configs: []
# prometheus_alert_relabel_configs:
#   - action: labeldrop
#     regex: replica

prometheus_global:
  scrape_interval: 60s
  scrape_timeout: 10s
  evaluation_interval: 60s

prometheus_remote_write: []
# prometheus_remote_write:
#   - url: https://dev.kausal.co/prom/push
#     basic_auth:
#       password: FOO

prometheus_remote_read: []
# prometheus_remote_read:
#   - url: https://prometheus.demo.do.prometheus.io:9201/read
#     basic_auth:
#       password: FOO

prometheus_external_labels:
  environment: "{{ ansible_fqdn | default(ansible_host) | default(inventory_hostname) }}"

prometheus_targets: {}
#  node:
#    - targets:
#        - localhost:9100
#      labels:
#        env: test

prometheus_scrape_configs:
  - job_name: "prometheus"
    metrics_path: "{{ prometheus_metrics_path }}"
    static_configs:
      - targets:
          - "{{ prometheus_web_listen_address }}"
  - job_name: "node_exporter"
    metrics_path: /metrics
    file_sd_configs:
      - files:
          - "{{ prometheus_config_dir }}/file_sd/node_exporter.yml"
  - job_name: "blackbox_http"
    metrics_path: /probe
    params:
      module: [http]
    file_sd_configs:
      - files:
          - "{{ prometheus_config_dir }}/file_sd/blackbox_http.yml"
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "{{ blackbox_exporter_web_listen_address | default('127.0.0.1:9115', true) }}"
  - job_name: "blackbox_http_regexp"
    metrics_path: /probe
    params:
      module: [http_regexp]
    file_sd_configs:
      - files:
          - "{{ prometheus_config_dir }}/file_sd/blackbox_http_regexp.yml"
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "{{ blackbox_exporter_web_listen_address | default('127.0.0.1:9115', true) }}"
  - job_name: "blackbox_icmp"
    metrics_path: /probe
    params:
      module: [icmp]
    file_sd_configs:
      - files:
          - "{{ prometheus_config_dir }}/file_sd/blackbox_icmp.yml"
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "{{ blackbox_exporter_web_listen_address | default('127.0.0.1:9115', true) }}"
  - job_name: "blackbox_icmp_home"
    metrics_path: /probe
    params:
      module: [icmp]
    file_sd_configs:
      - files:
          - "{{ prometheus_config_dir }}/file_sd/blackbox_icmp_home.yml"
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "{{ blackbox_exporter_web_listen_address | default('127.0.0.1:9115', true) }}"

  # - job_name: "blackbox_ssh"
  #   metrics_path: /prometheus/probe
  #   params:
  #     module: [ssh]
  #   file_sd_configs:
  #     - files:
  #         - "{{ prometheus_config_dir }}/file_sd/blackbox_ssh.yml"
  #   relabel_configs:
  #     - source_labels: [__address__]
  #       target_label: __param_target
  #     - source_labels: [__param_target]
  #       target_label: instance
  #     - target_label: __address__
  #       replacement: "{{ blackbox_exporter_web_listen_address | default('127.0.0.1:9115', true) }}"

# Alternative config file name, searched in ansible templates path.
prometheus_config_file: "prometheus.yml.j2"

prometheus_alert_rules_files:
  - files/rules/*.rules

prometheus_static_targets_files:
  - files/targets/*.yml
  - files/targets/*.json

prometheus_scrape_config_files:
  - prometheus/targets/*.yml
  - prometheus/targets/*.json

prometheus_alert_rules: []

prometheus_system_group: "prometheus"
prometheus_system_user: "prometheus"

prometheus_stop_timeout: "600s"

prometheus_archive_path: "/tmp"
